
header{
    width: 100%;
    
}
    #chris{
    width: 100px;
    height: 100px;
    margin:2px 5px;
}
.nav{
    background-image: linear-gradient(rgb(255, 254, 254),#ccc);
    background-repeat: no-repeat;
    display: flex;    
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin:0 auto;
    box-shadow: 0px 2px 3px -2px rgba(133, 132, 132, 0.692);
    z-index: 2;
    
}
.fala_chris{
    width: 80rem;
    position: relative;
    margin: auto;
    margin-left: 10px;
}
.fala_chris::after{
    content:'|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%{ opacity: 1;}
    50%{
        opacity: 0;
    }
}
.fala_chris1{
width: 80rem;
    position: relative;
    margin: auto;
    margin-left: 10px;
    display: none;
}
.fala_chris1::after{
    content:'|';
    margin-left: 5px;
    opacity: 2;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%{ opacity: 1;}
    50%{
        opacity: 0;
    }
}
.perg_chris1{
    width: 80rem;
        position: relative;
        margin: auto;
        margin-left: 10px;
        display: none;
    }
    .perg_chris1::after{
        content:'|';
        margin-left: 5px;
        opacity: 2;
        animation: pisca .7s infinite;
    }
    @keyframes pisca{
        0%{ opacity: 1;}
        50%{
            opacity: 0;
        }
    }
    .perg_chris2, .perg_chris3{
        width: 80rem;
            position: relative;
            margin: auto;
            margin-left: 10px;
            display: none;
        }
        .perg_chris2::after{
            content:'|';
            margin-left: 5px;
            opacity: 2;
            animation: pisca .7s infinite;
        }
        @keyframes pisca{
            0%{ opacity: 1;}
            50%{
                opacity: 0;
            }
        }
.perg_chris3{
            width: 80rem;
                position: relative;
                margin: auto;
                margin-left: 10px;
                display: none;
            }
            .perg_chris3::after{
                content:'|';
                margin-left: 5px;
                opacity: 2;
                animation: pisca .7s infinite;
            }
            @keyframes pisca{
                0%{ opacity: 1;}
                50%{
                    opacity: 0;
                }
            }
            .perg_chris4{
                width: 80rem;
                    position: relative;
                    margin: auto;
                    margin-left: 10px;
                    display: none;
                }
                .perg_chris4::after{
                    content:'|';
                    margin-left: 5px;
                    opacity: 2;
                    animation: pisca .7s infinite;
                }
                @keyframes pisca{
                    0%{ opacity: 1;}
                    50%{
                        opacity: 0;
                    }
                }

                .perg_chris5{
                    width: 80rem;
                        position: relative;
                        margin: auto;
                        margin-left: 10px;
                        display: none;
                    }
                    .perg_chris5::after{
                        content:'|';
                        margin-left: 5px;
                        opacity: 2;
                        animation: pisca .7s infinite;
                    }
                    @keyframes pisca{
                        0%{ opacity: 1;}
                        50%{
                            opacity: 0;
                        }
                    }
                    .perg_chris6{
                        width: 80rem;
                            position: relative;
                            margin: auto;
                            margin-left: 10px;
                            display: none;
                        }
                        .perg_chris6::after{
                            content:'|';
                            margin-left: 5px;
                            opacity: 2;
                            animation: pisca .7s infinite;
                        }
                        @keyframes pisca{
                            0%{ opacity: 1;}
                            50%{
                                opacity: 0;
                            }
                        }
.body{
    background-image:  linear-gradient(rgba(236, 14, 14, 0.692),rgba(90, 0, 0, 0.733)),url("https://images.pexels.com/photos/4065617/pexels-photo-4065617.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 92%;
    top:100px;
    left: 0;    
    position: fixed;
    z-index: 1;
    overflow-y: hidden;
}



.box1, .box2, .box3, .box4, .box5, .box6{
    visibility:hidden;
    background-image: linear-gradient(rgba(255, 254, 254, 0.199),rgba(204, 204, 204, 0.199));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 0%;
    height: 0%;
    position: relative;
    margin: auto ;
    border-radius: 6px;
    z-index: 3;
    justify-content: space-around;
    align-content: space-around;
}


.card{
    background-image: linear-gradient(rgb(255, 254, 254),rgb(167, 166, 166));
    background-repeat: no-repeat;
    width: 40%;
    height: 30%;
    z-index: 4;
    border-radius: 6px;
    margin:auto;
    opacity: 1;
    box-shadow: 2px 2px 5px 1px rgb(56, 56, 56);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    
}
@media screen and (min-width: 800px){
    .body{
        background-image:  linear-gradient(rgba(236, 14, 14, 0.692),rgba(90, 0, 0, 0.733)),url("/assets/img/bg_body_pc.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        width: 100%;
        height: 92%;
        top:100px;
        left: 0;    
        position: fixed;
        z-index: 1;
        overflow-y: hidden;
    }
}
.footer{
    display: flex;
    background-color: rgb(185, 185, 185);
    box-shadow: 0px -2px 3px -2px rgba(133, 132, 132, 0.692);
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 25px;
    border: solid black 1;
    z-index: 2;
}
.esquerda_footer{
    width: 50%;
    margin: auto;
}
.direita_footer{
    width: 40%;
    margin:auto;
justify-items:right;
}
dir{
    text-align: center;
}
.escrita_footer{
    margin: auto;
    font-size: 0.8rem;
}
.destaque{
    font-weight: bold;
}
#tv1{
  background-image: url("/assets/img/vertv.jpg");  
  background-size:cover;
  cursor: pointer;
}
#tv2{
    background-image: url("/assets/img/tv2.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #tv3{
    background-image: url("/assets/img/tv3.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #tv4{
    background-image: url("/assets/img/tv4.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #tv5{
    background-image: url("/assets/img/tv5.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #tv6{
    background-image: url("/assets/img/tv6.jpg");  
    background-size:cover;
    cursor: pointer;
  }
#virtua1{
    background-image: url("/assets/img/jogar.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #virtua2{
    background-image: url("/assets/img/virtua2.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #virtua3{
    background-image: url("/assets/img/virtua3.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #virtua4{
    background-image: url("/assets/img/virtua4.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #virtua5{
    background-image: url("/assets/img/virtua5.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #virtua6{
    background-image: url("/assets/img/virtua6.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #chip1{
    background-image: url("/assets/img/sair.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #chip2{
    background-image: url("/assets/img/chip2.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #chip3{
    background-image: url("/assets/img/chip3.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #chip4{
    background-image: url("/assets/img/chip4.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #chip5{
    background-image: url("/assets/img/chip5.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #chip6{
    background-image: url("/assets/img/chip6.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #geral1{
    background-image: url("/assets/img/varios.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #geral2{
    background-image: url("/assets/img/geral2.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #geral3{
    background-image: url("/assets/img/geral3.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #geral4{
    background-image: url("/assets/img/geral4.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #geral5{
    background-image: url("/assets/img/geral5.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  #geral6{
    background-image: url("/assets/img/geral6.jpg");  
    background-size:cover;
    cursor: pointer;
  }
  .card:hover{
    box-shadow: 2px 2px 5px 1px rgb(255, 255, 255);
  }
  .frase_card{
    margin: 5px 12px;
    font-size: 13pt;
    text-align: center;
    display: none;
}
.escolha{   
   
   align-self: center;
   justify-items: center;
   border-radius: 8px;
   font-weight: bold;
   background-image: linear-gradient(rgba(236, 14, 14, 0.829),rgba(90, 0, 0, 0.836));
   color:white;
   width: 100%;
   height: 15%;
   outline: none;
   bottom: 0;
   position: relative;
   align-self:flex-end;
   display: none;
}
  @keyframes virar{
      0%{ height: 30%;}
      100%{ height: 0%;}
  }
  
  @keyframes desvirar{
      0%{ height: 0%;  }
      100% { height: 30%; background-image:none; background-color:  rgb(185, 185, 185);}
  }

  @keyframes aparece{
    0%{ width: 0%; height: 0%;}
    100%{width: 90%; height: 85%;margin: 25px auto;}
} 

@keyframes desaparece{
    0%{ width: 90%; height: 85%; margin: 25px auto;}
    100%{width: 0%; height: 0%; display: none; visibility: hidden;}
} 